@charset "UTF-8";
.wrapper{
  width: 100%;
  background-color: #fff;
}

.container{
  margin: 0 auto;
  width: 1100px;
  /* background-color: #cff1ff; */
}

.box_Q1{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background-color: #f00;
}

@media screen and (max-width:959px){
  .box_Q1{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: #f00;
  }
}

.box_Q2{
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-color: #f00;
}

@media screen and (max-width:959px){
  .box_Q2{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: #007bff;
  }
}

.is_flex{
  display: flex;
  justify-content: center;
}

.box_Q3-1{
  margin-right: 150px;
  width: 300px;
  height: 300px;
  background-color: #0008ff;
}

@media screen and (max-width:959px){
  .box_Q3-1{
    margin-right: 50px;
    width: 300px;
    height: 300px;
    background-color: #0008ff;
  }
}

.box_Q3-2{
  width: 300px;
  height: 300px;
  background-color: #22ff00;
}

.float_box{
  float: left;
  position: relative;
  left: 50%;
}

@media screen and (max-width:959px){
  .float_box{
    float: none;
  }
}


.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.box_Q4-1{
  float: left;
  position: relative;
  left: -50%;
  width: 300px;
  height: 300px;
  background-color: #ff0000;
}

@media screen and (max-width:959px){
  .box_Q4-1{
    float: none;
    width: 300px;
    height: 300px;
    background-color: #ff0000;
  }
}

.box_Q4-2{
  float: left;
  position: relative;
  left: -50%;
  width: 300px;
  height: 300px;
  background-color: #0008ff;
}

@media screen and (max-width:959px){
  .box_Q4-2{
    float: none;
    width: 300px;
    height: 300px;
    background-color: #0008ff;
  }
}

.flex_directionQ5{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media screen and (max-width:959px){
  .flex_directionQ5{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
}

.box_Q5-1,
.box_Q5-2,
.box_Q5-3{
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.box_Q5-1{
  background-color: #ff0000;
}

.box_Q5-2{
  background-color: #0008ff;
}

.box_Q5-3{
  background-color: #ff8400;
}

.flex_directionQ6{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box_Q6-1,
.box_Q6-2,
.box_Q6-3{
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.box_Q6-1{
  background-color: #00ff51;
}

.box_Q6-2{
  background-color: #d4ff00;
}

.box_Q6-3{
  background-color: #ff00e1;
}

@media screen and (max-width:959px){
  .box_Q6-1{
    background-color: #00ff51;
    order: 1;
  }
  
  .box_Q6-2{
    background-color: #d4ff00;
    order: 2;
  }
  
  .box_Q6-3{
    background-color: #ff00e1;
    order: 0;
  }
}

.flex_directionQ7{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box_Q7-1,
.box_Q7-2,
.box_Q7-3{
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.box_Q7-1{
  background-color: #ff0000;
  order: 0;
}

.box_Q7-2{
  background-color: #00ff51;
  order: 1;
}

.box_Q7-3{
  background-color: #0008ff;
  display: none;
}

@media screen and (max-width:959px){
  .box_Q7-1{
    background-color: #ff0000;
    display: none;
  }
  
  .box_Q7-2{
    background-color: #00ff51;
    order: 1;
  }
  
  .box_Q7-3{
    background-color: #0008ff;
    display: inline;
    order: 0;
    }
}